<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="scripts/api-voiture.js" th:src="@{/scripts/api-detail-voiture.js}"></script>
    <style>
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <input type="hidden" class="form-control" id="idVoiture" name="id" th:value="${id}"/>
        </div>
        <div class="col-sm-7">

            <div class="row detail">
            </div>
            <div class="row newComment">
                <form >
                    <div class="col-sm">
                        <input  type="hidden" class="form-control" id="idCar" name="idCar" th:value="${id}"/>
                        <label for="comment" class="col-sm-3 text-right ">Commentaire:</label>
                        <textarea type="textarea" class="col-sm-6 " id="comment" name="commentaires" rows="4" cols="50"></textarea>
                        <button class="btn btn-default sendComment" type="button">Envoyer</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="row commentblock">
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
</footer>
</body>
</html>